<div class="home-component" flex>
	<header>
		<div class="lines">
			<div class="line line-right" ng-class="{'animate': $ctrl.animate.lines.right}"></div>
			<div class="line line-bottom" ng-class="{'animate': $ctrl.animate.lines.bottom}"></div>
			<div class="line line-top" ng-class="{'animate': $ctrl.animate.lines.top}"></div>
			<div class="line line-left" ng-class="{'animate': $ctrl.animate.lines.left}"></div>
		</div>
		<div class="title" ng-class="{'animate': $ctrl.animate.title}">
			<h1>
				Wiichäller
			</h1>
		</div>
	</header>
	<div class="container">
		<div class="content">
			<div layout-gt-sm="row" layout="column" flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20" layout-padding>
				<div flex="50">
					<h2>
						De Underground verband vo allne Wii-Rebe
					</h2>
					<p translate="home.introduction">
					</p>
				</div>
				<div flex="50">
					<img class="friends-image" src="http://previews.123rf.com/images/piksel/piksel0910/piksel091000022/5644857-Friends-with-thumbs-up-Stock-Photo-group-teenagers.jpg"
					/>
				</div>
			</div>
			<div class="site-description">
				<div layout-gt-sm="row" layout="column" flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20">
					<div flex="33" layout-padding>
						<img src="http://image.flaticon.com/icons/svg/157/157285.svg" class="description-icon"/>
						<h3 translate="process.sendwine.title"></h3>
						<p translate="process.sendwine.description"></p>
					</div>
					<div flex="33" layout-padding>
						<img src="http://image.flaticon.com/icons/svg/65/65155.svg" class="description-icon"/>
						<h3 translate="process.test.title"></h3>
						<p translate="process.test.description"></p>
					</div>
					<div flex="33" layout-padding>
						<img src="http://image.flaticon.com/icons/svg/149/149189.svg" class="description-icon"/>
						<h3 translate="process.feedback.title"></h3>
						<p translate="process.feedback.description"></p>
					</div>
				</div>
			</div>
			<div class="site-wine-slideshow" md-padding>
				<div class="site-wine-slideshow-content" flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20">
					<slideshow items="$ctrl.slideshow"></slideshow>
				</div>
			</div>
		</div>
	</div>