<div class="home-component" flex>
	<header>
		<div class="lines">
			<div class="line line-right" ng-class="{'animate': $ctrl.animate.lines.right}"></div>
			<div class="line line-bottom" ng-class="{'animate': $ctrl.animate.lines.bottom}"></div>
			<div class="line line-top" ng-class="{'animate': $ctrl.animate.lines.top}"></div>
			<div class="line line-left" ng-class="{'animate': $ctrl.animate.lines.left}"></div>
		</div>
		<h1 ng-class="{'animate': $ctrl.animate.title}">
			Wiichaeller
		</h1>
	</header>
</div>
<div class="container">
	
</div>