<div class="home-component" flex>
	<header>
		<div class="lines">
			<div class="line line-right" ng-class="{'animate': $ctrl.animate.lines.right}"></div>
			<div class="line line-bottom" ng-class="{'animate': $ctrl.animate.lines.bottom}"></div>
			<div class="line line-top" ng-class="{'animate': $ctrl.animate.lines.top}"></div>
			<div class="line line-left" ng-class="{'animate': $ctrl.animate.lines.left}"></div>
		</div>
		<div class="title" ng-class="{'animate': $ctrl.animate.title}">
			<h1>
				Wiichäller
			</h1>
		</div>
	</header>
	<div class="container">
		<div class="content">
			<div layout-gt-sm="row" layout="column" flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20" layout-padding>
				<div flex="50">
					<h2>
						De Wiichäller isch en Ort für jede
					</h2>
					<p>
						Im Wiichäller finsch du sehr liberali Lüt wo jede akzeptiert wird, wie er isch.
					</p>
				</div>
				<div flex="50">
					<img class="friends-image" src="http://previews.123rf.com/images/piksel/piksel0910/piksel091000022/5644857-Friends-with-thumbs-up-Stock-Photo-group-teenagers.jpg"
					/>
				</div>
			</div>
			<div class="site-description">
				<div layout-gt-sm="row" layout="column" flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20">
					<div flex="33" layout-padding>
						<h3>Shitpost</h3>
						<p>Täglich wird de besti original banqer Content uf de Facebook site veröffentlich vo unterschidliche Benutzer.</p>
					</div>
					<div flex="33" layout-padding>
						<h3>Rösti</h3>
						<p>Es gid Shitposts und es gid Shitposts. Wenn öpper en richtige Shitpost veröffentlicht, wird er gröstet. Das bringt
							immer wieder Lebe id Gruppe und schweisst dKollegialität vo allne zämme.</p>
					</div>
					<div flex="33" layout-padding>
						<h3>Kevin Schatt</h3>
						<p>Schattout</p>
					</div>
				</div>
			</div>
			<div class="site-quotes">
				<div class="site-quotes-content" flex-gt-sm="80" flex-offset-gt-sm="10" flex-gt-md="60" flex-offset-gt-md="20">
					<h2>asdf</h2>
				</div>
			</div>
		</div>
	</div>
</div>